page-tutorInfo {

    ion-input{
        margin-left:30px;
    }

    ion-list-header {
        margin-top: 15px;
        background-color:lightgrey !important;
    }

    ion-textarea {
        margin-left:30px;
    }
}
